{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react",
    // "jsx-ally",
    "import"
  ],
  "rules": {
    "global-require":"off",
    "no-plusplus": "off",
    "linebreak-style": 0,
    "react/jsx-filename-extension": [1, {
      "extensions": [".js", ".jsx"]
    }]
  }
}